html{
  height:100%;
  width:100%
}

body {
  background: #000 url("../image/bg2_2.png") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}


*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:***REMOVED*** {
  --whitey-color: #cacfdc;
  --header-row-h: 110px;
  --header-row-minh: 65px;
  --player-bg-color: rgba(0, 4, 25, 0.7);
  --row-background: rgba(34,34,34,1);
  --logo-img: url("../image/logo_2.png");
  --hover-text-color: #E0B35B;
}
#hell {
  width: auto;
  overflow: hidden;
  position: relative;
  height: 100px;
  margin: 20px;
  background: rgba(0.2,0.2,0.2,1);
}
 h1 {
   pointer-events: none;
  font-size: 32px;
  /*text-indent: 1.5em;*/
  text-align: center;
  padding: 5px 0;
  margin-bottom:20px;
  color: var(--whitey-color);
  font-family: 'ABeeZee', sans-serif;
}
#hell span {
  background: rgba(0,0,0,0.3);
 }

@media only screen and (max-width: 960px) {
   h1 {
    font-size: 16px;
  }

  .logo {
    background-size: 65px;
    height: 65px;
    width: 65px;
    margin-right: 6px;
    max-height: 65px;
    min-height: 65px;
  }

  .header_container {
    border-radius: 47px 6px 6px 47px;
    margin: 12px;
    padding: 6px;
  }

  .column {
    font-size: 28px;
    line-height: 65px;
  }

  .tgl_st {
    padding: 14px 12px;
  }

  #stations {
    margin: 12px 20px 20px;
    border-radius: 6px;
  }

}



button {
  padding: 0;
  outline: 0;
  cursor: default;
  border: none;
  background: none;
}

.logo {
  background: url("../image/logo_2.png") no-repeat;
  background-size: var(--header-row-h);
  opacity: 1.0;
  height: var(--header-row-h);
  margin-right: 10px;
  width: var(--header-row-h);
  max-height: var(--header-row-h);
  min-height: var(--header-row-h);
  cursor: pointer;

}

.link {
  width: auto;
  position:absolute;
  top:-20px;
  z-index: 10;
  right: 34px;
  text-align: right;
  vertical-align: bottom;
  line-height: 20px;
  display: block;
  padding-right: 30px;
  font-size:14px;
  font-family:'Pacifico',cursive;
  color: var(--whitey-color);
}
#asterisk {
  width:auto;
  padding:0;
  color: var(--hover-text-color);
}

.header_container {
  transform: scale(0.95);
  animation-name: scali;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  background: rgba(0,0,0,0.33);
  position: relative;
  margin: 20px;
  padding:10px;
  overflow:hidden;
  border-radius: 80px 10px 10px 80px;
  width: 1fr;
  height: 1fr;
  max-height: 130px;
}

.counter {
  font-size: 12px;
  position: absolute;
  pointer-events: none;
  left: 220px;
  top: 3px;
  display:block;
  color : #b0b4c0;
}

.column {
  float: left;
  vertical-align: middle;
  /*font-family: 'Pacifico', cursive;*/
  font-family: 'ABeeZee', sans-serif;
  font-size: 38px;
  line-height: var(--header-row-h);
  min-height: var(--header-row-h);
  border-right: 2px solid #b0b4c0;
  border-left: none;
}
.column a {
  text-decoration: none;
  /*color: rgba(247,90,93,0.7);*/
  color: var(--whitey-color);
}

.column > span {
  width: auto;
}

::selection {
  background: var(--player-bg-color); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--player-bg-color); /* Gecko Browsers */
}

.tgl_st {
  background: rgba(0,0,0,0.3);
  padding: 24px 20px;
  opacity: 1;
  text-align: center;
  width: 1fr;
}
.tgl_st:hover {
  background: rgba(0,0,0,0.2);
  color: var(--hover-text-color);
}

#stations {
  margin: 20px 34px 34px;
  border-radius: 10px;
  min-width:600px;
  width: 1fr;
  padding: 15px;
  height: 100%;
  background: rgba(0,0,0,0.2);
}

@keyframes scali {
  0% {
    transform: translateY(-10%) scale(0.95);;
  }
  100% {
    transform: translateY(0) scale(0.95);;
  }
}

#stations .rows {
  display: grid;
  grid-template-columns: 1fr repeat(12, 1fr);
  grid-column-gap: 10px;
  width: auto;
  margin: 20px;
  height: 140px;
  /*border-radius: 10px;*/
  /*border-left: 2px solid #b0b4c0;*/
  border-left: 2px solid var(--whitey-color);
  border-right: 2px solid var(--whitey-color);
  background: rgba(0,0,0,0.2);
}

/* The necessities */
.onclick-menu {
  background: url("../image/arrow.png");
  width: 32px;
  height: 32px;
  color: #171e2f;
  position: absolute; /*absolute;*/
  top: 50px;
  left: 450px;
  float:right;
  display: inline-block; /*block*/
  padding: 0;
  margin: 0 0 1em 0;
  outline: 0;
  transition: all 0.25s ease-in;
  transform: scale(0.75);
}

.onclick-menu:focus {
  pointer-events: none;
  transform: scale(1);
}

.onclick-menu:focus, .onclick-menu:hover  {
	background: url("../image/arrow-hover.png");
}

.onclick-menu:focus .onclick-menu-content {
  opacity: 0.9;
  color: #d6dbe9;
  visibility: visible;
  transform: scale(1);
}

.onclick-menu-content {
  pointer-events: auto;
  position: absolute;
  left: -455px;
  /*right: -5px;*/
  font-family: 'Arimo', sans-serif;
  top: 45px;
  border-bottom: 2px solid #b0b4c0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: all 0.25s ease-in;
  /*background-color: #1e2040;*/
  /*background-color: #1b203d;*/
  background-color: var(--player-bg-color);
  width: auto;
  margin-top: 19px;
  margin-left: 0;
  padding: 10px;
  border-bottom: 5px;
}
.wrapper {
  position: relative;
  margin: 20px;
  min-height: 1fr;
}
footer {
  position: absolute;
  text-align: center;
  bottom: -100px;
  width: 100%;
  height: 80px;
}
footer noscript {
  padding: 0;
}

.onclick-menu-content:before {
  content: "";
  width: 0;
  height: 0;
  /*border-bottom: 10px solid #1b203d;*/
  /*border-bottom: 10px solid #1e2040;*/
  border-bottom: 10px solid var(--player-bg-color);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -10px;
  /*right: 10px; */
  left: 6px;
}

.onclick-menu-content li {
  list-style-type: none;
  white-space: nowrap;
  background: transparent;
  border: none;
  color: var(--whitey-color);
  outline: 0;
  cursor: default;
}
.onclick-menu-content a {
  text-decoration: none;
  color: var(--whitey-color);
  font-size: 14px;
  height: 32px;
  vertical-align: middle;
  display: inline-block;
  padding-right: 10px;
}
.onclick-menu-content a:hover {
  color: var(--hover-text-color);
  /*color: #63a576;*/
}

.onclick-menu-content img {
  padding-right: 10px;
}

.jp-audio-stream *:focus
{
  /* Disable the browser focus highlighting. */
  outline: none; }

.jp-audio-stream button::-moz-focus-inner
{
  /* Disable the browser CSS3 focus highlighting. */
  border: 0; }

.jp-audio-stream {
  position: absolute;
  display: block;
  margin: 20px 20px;
  font-size: 20px;
  font-family: 'Arimo', sans-serif;
  line-height: 1.6;
  /*color: #acb5cf; !*title color*!*/
  border: none;
  border-radius: 1px;
  background-color: var(--player-bg-color);
  opacity: 0.95;
  width: 505px; /*101px*/
  padding: 15px 15px 15px 15px;  /*20px 20px 10px 20px*/

}

.jp-interface {
  position: relative;
  height:70px;
  width: 505px; /*100%*/
/*background-color: rgba(41, 48, 67, 0.8); /*insides color*/
  /* Required for the full screen */ }

/* @group CONTROLS */
.jp-audio-stream .jp-controls-holder {
  height: 50px; } /*50px*/

.jp-controls {
  background: 0 0 no-repeat;
  padding: 1px 0 2px 1px;
  overflow: hidden;
  /*width: 201px;*/
  height: 34px;
  cursor: default;
  float: left;
  margin: 0 10px 0 5px;
  /*border: 1px solid white;*/
  width: 100px; /*100px*/
  }
  
.jp-controls button {
  display: block;
  float: left; /*left*/
  overflow: hidden;
  text-indent: -9999px;
  height: 34px;
  margin: 0 1px 2px 0;
  padding: 0;
  border: none;
  cursor: default;
  }
  
.subdiv {
  /*margin-bottom: 20px;*/
    height: 50px;
}

/* @group single player controls */
.jp-type-single .jp-controls button {
  width: 99px;  } /*99px*/

.jp-type-single .jp-play {

 }
:***REMOVED***{
  --background-stylesheet: url("../image/jplayer.pink.flag.jpg");
}
.jp-type-single .jp-play:focus {
  background: var(--background-stylesheet) -100px -40px no-repeat; }

.jp-state-playing .jp-type-single .jp-play {
  background: var(--background-stylesheet) 0px -120px no-repeat; }

.jp-state-playing .jp-type-single .jp-play:focus {
  background: var(--background-stylesheet) -100px -120px no-repeat; }

/* The right border is normally in the ul background image. */
.jp-play,
.jp-pause {
  border-right: 1px solid #0d0713; }
/* @end */

/* @group TOGGLES */
.jp-toggles {
  padding: 0;
  margin: 0 auto;
  overflow: hidden; }

.jp-toggles button {
  display: block;
  float: left;
  width: 25px;
  height: 18px;
  text-indent: -9999px;
  line-height: 100%;
  /* need this for IE6 */
  border: none;
  cursor: default; }
/* @end */

.jp-play-bar {
  background: var(--background-stylesheet) 0px -280px repeat-x;
  width: 0px;
  height: 100%;
  overflow: hidden; }
/* @end */

/* @group volume controls */

/*.jp-state-no-volume .jp-volume-controls {
  display: none; }*/

.jp-volume-controls {
  padding-top: 7px;
  position: relative;
  height: 30px; }

.jp-volume-controls button {
  position: absolute;
  display: block;
  /*overflow: hidden; */
  text-indent: -9999px;
  /*margin: 0 395px 0 5px;*/
  width: 16px;
  height: 11px;
  border: none;
  cursor: default; }

.jp-mute {
  top: 10px; /*-6px*/
  left: 7px; }

.jp-volume-max {
  top: 10px; /*-6px*/
  left: 87px;
  
  }

.jp-volume-controls .jp-mute {
  background: var(--background-stylesheet) 0 -330px no-repeat; }

.jp-volume-controls .jp-mute:focus {
  background: var(--background-stylesheet) -25px -330px no-repeat; }

.jp-state-muted .jp-volume-controls .jp-mute {
  background: var(--background-stylesheet) -60px -330px no-repeat; }

.jp-state-muted .jp-volume-controls .jp-mute:focus {
  background: var(--background-stylesheet) -85px -330px no-repeat; }

.jp-volume-controls .jp-volume-max {
  background: var(--background-stylesheet) 0px -350px no-repeat; }

.jp-volume-controls .jp-volume-max:focus {
  background: var(--background-stylesheet) -25px -350px no-repeat; }

.jp-volume-bar {
  background: var(--background-stylesheet) 0px -300px repeat-x;
  position: absolute;
  height: 4px;
  overflow: hidden;
  cursor: default;
  top: -2px; /*10px*/
  left: 5px;
  width: 97px;
  border-right: 1px solid #180920;
  padding: 2px 1px 1px 2px;
}

.jp-volume-bar-value {
  background: var(--background-stylesheet) 0 -320px repeat-x;
  height: 4px; }

/* @end */

/* @group playlist */
.jp-details {
  /*float: right;
  /*border: 1px solid white;*/
  font-size: .7em;
  position: relative;
  margin:0;
  color : #b0b4c0;
  /*0*/
  /*width:70%*/
}



.jp-details .jp-title {
  padding: 3px 3px 3px;
  border-radius: 3px;
  border: none;
  background: rgba(0,0,0,0.3);
  position:absolute;
  top: 1px;
  color: var(--whitey-color);
  left: 120px;
  margin: 0;
  line-height: 1.1em;
  width: 350px;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  cursor: default; 
 }

.jp-jplayer audio,
.jp-jplayer {
  width: 0;
  height: 0; }

.jp-jplayer {
  background-color: #000000; }

/* @group NO SOLUTION error feedback */
.jp-no-solution {
  margin-top: 15px;
  padding: 5px;
  font-size: .8em;
  background-color: #293043;
  border: 2px solid #554461;
  border-right-color: inherit;
  border-bottom-color: inherit;
  color: #FFF;
  display: none; }

.jp-no-solution a {
  color: #FFF; }

.jp-no-solution span {
  font-size: 1em;
  display: block;
  text-align: center;
  font-weight: bold; }

/* @end */
