:***REMOVED*** {
  --font: 'Changa', cursive;
  --font_2: 'Monoton', cursive;
  --whitey-color: #fafafa;
  --header-row-h: 110px;
  --header-row-minh: 65px;
  --player-bg-color: #131415;
  --player-bg2-color: #202224;
  --row-background: rgb(24, 24, 24);
  --logo-img: url("../images/image/logo_transp.png");
  --hover-text-color: #fff500;
  --active-color: #fff500;
  /*--hover-text-color: rgba(224, 179, 21, 0.8);*/
}

html {
  height:100%;
  width:100%;
}

body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/image/bg2_2.jpg') no-repeat !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position-y: var(--header-row-h) !important;
}

a {
  outline: none !important;
  cursor: pointer;
}

.jumbotron {
  /*max-width: 500px;*/
  font-family: var(--font);
  font-size: 18px;
  margin-top: 30px;
  background: var(--hover-text-color) !important;
}

.jumbotron label {
  margin: 5px 0;
}
.jumbotron button {
  margin-top: 40px;
  width: 100px;
}

.auth {
  line-height: 70px;
  margin-top: 40px;
  margin-left: 20px;
  font-family: 'Changa', sans-serif;
}
.auth a {
  font-size: 20px;
  color: black;
}

.auth a:hover,
.auth a:focus,
.auth a:active {
  color: black;
  text-decoration: none;
}

.gradient-icon {
  background: linear-gradient(180deg, var(--whitey-color), rgb(224,224,224));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}
.gradient-icon:hover {
  background: linear-gradient(180deg, #e6e607, #d6a70b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

.navbar {
  /*margin: 1em 0;*/
  /*border: none !important;*/
}

.container-fluid {
  margin: 0;
  background: linear-gradient(180deg, #d6a70b, #e6e607);
  box-shadow: none !important;
}

.spectrum {
  background: transparent !important;
}

canvas {
  padding: 0;
  margin: 0 !important;
  min-width: 100%;
  height: 10%;
}

.navbar-inner {
  background: linear-gradient(180deg, #202224, #131415) !important;
  min-height: 110px;
}

#nowPlayingImg {
  content: "";
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 110px;
  margin: 0 0 0 20px;
  height: 110px;
}

#toggles a {
  font-size: 26px;
  user-select: none;
  background: none;
  color: #000;
  font-family: var(--font_2);
  line-height: 80px;
}

#toggles a span:hover {
  color: var(--hover-text-color);
}

.active span {
  color: var(--active-color) !important;
  opacity: 1.0;
}

#toggles a span {
  color: #807900;
  padding: 0 0.8em 0 0.8em;
  margin: 0 -6px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  transform: scale(2);
  transform-origin: left bottom;
  background:
          linear-gradient(45deg,  transparent 12px, #260202 12px),

          linear-gradient(225deg, transparent 12px, #260202 12px);
  background-position: bottom left, top right;
  -moz-background-size: 100% 50%;
  -webkit-background-size: 100% 50%;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.logo {
  opacity: 1.0;
  background: var(--logo-img) no-repeat center center;
  height: var(--header-row-h);
  width: var(--header-row-h);
  max-height: var(--header-row-h);
  min-height: var(--header-row-h);
  cursor: pointer;

}

::selection {
  background: var(--hover-text-color); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--hover-text-color); /* Gecko Browsers */
}

/* The necessities */
.onclick-menu {
  width: 32px;
  height: 32px;
  color: #171e2f;
  position: absolute;
  top: 50px;
  left: 450px;
  float:right;
  display: inline-block;
  padding: 0;
  margin: 0 0 1em 0;
  outline: 0;
  transition: all 0.33s ease-in;
}

.onclick-menu-content {
  font-family: 'Arimo', sans-serif;
  pointer-events: auto;
  display: none;
  position: absolute;
  left: -473px;
  top: calc(-324px - 110px);
  width: 515px;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
  opacity: 1;
  margin-top: 19px;
  margin-left: 0;
  padding: 10px;
  border-bottom: 5px;
}
/*
.onclick-menu:focus {
  pointer-events: none;
}*/

.onclick-menu:focus .onclick-menu-content {
  opacity: 1;
  visibility: visible;
}

.onclick-menu-content li:nth-child(even) {
  background-color: #181818;

}
.onclick-menu-content li:nth-child(odd) {
  background-color: #222222;
}

.onclick-menu-content li {
  list-style-type: none;
  white-space: nowrap;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
  display: block;
  height: 34px;
  z-index: -5;
  line-height: 34px;
  border: none;
  outline: 0;
  cursor: default;
  transform: translateX(0);
}
.onclick-menu-content li:hover {
  transform: translateX(3px);
}
.onclick-menu-content li a span {
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  overflow: hidden;

}

.onclick-menu-content a {
  text-decoration: none;
  color: var(--whitey-color);
  font-size: 14px;
  height: 32px;
  width: 455px;
  vertical-align: middle;
  display: inline-block;
  padding-right: 10px;
}
.onclick-menu-content a:hover {
  color: var(--hover-text-color);
  text-decoration: none;
}

.onclick-menu-content li:hover > img {
  filter: none;
}

.onclick-menu-content li > img {
  padding-right: 10px;
  pointer-events: none;
  filter: grayScale(80%);
  vertical-align: middle;
}
.onclick-menu-content ul:first-child {
  filter:none;
}

.jp-audio-stream *:focus {
  /* Disable the browser focus highlighting. */
  outline: none;
}

.jp-audio-stream {
  /*box-shadow: #000000;*/
  transform: scale(1);
  transform-origin: 0 0;
  position: relative;
  margin:0;
  display: inline-block;
  height:110px;
  float: left;
  font-size: 20px;
  font-family: 'Arimo', sans-serif;
  line-height: 1.6;
  z-index: 5;
  cursor: default;
  border: none;
  background: linear-gradient(to bottom, var(--player-bg2-color), var(--player-bg-color));
  opacity: 1;
  width: 505px;
  padding: 15px 15px 15px 15px;

}

.jp-interface {
  position: relative;
  height:70px;
  width: 505px; /*100%*/
}

/* @group CONTROLS */
.jp-audio-stream .jp-controls-holder {
  height: 50px;
}

.jp-controls {
  background: 0 0 no-repeat;
  padding: 1px 0 2px 1px;
  overflow: hidden;
  height: 34px;
  cursor: default;
  float: left;
  margin: 0 10px 0 5px;
  width: 100px;
  }

.jp-controls a {
  cursor: default;
}

.jp-controls button {
  display: block;
  float: left;
  overflow: hidden;
  text-indent: -9999px;
  height: 34px;
  margin: 0 1px 2px 0;
  padding: 0;
  border: none;
  cursor: default;
  }
  
.subdiv {
    height: 50px;
}

/* @group single player controls */
.jp-type-single .jp-controls i {
  width: 99px;
  height: 120px;
  position: absolute;
  top: -5px;
}

.jp-type-single .jp-play {
  opacity: 1;
}

.jp-type-single .jp-play:focus {
  opacity: 0.95;
}

.jp-state-playing .jp-type-single .jp-play {
  opacity: 0.95;
}

.jp-state-playing .jp-type-single .jp-play:focus {
  opacity: 0.95;
}
/* The right border is normally in the ul background image. */
.jp-play {
  height:48px;
  width: 36px;
  max-height: 50px;
  opacity: 1;
  text-align: center;
}
.jp-play:hover {
  cursor: default;
}
/* @end */

/* @group TOGGLES */
.jp-toggles {
  padding: 0;
  margin: 0 auto;
  overflow: hidden; }

.jp-toggles button {
  display: block;
  float: left;
  width: 25px;
  height: 18px;
  text-indent: -9999px;
  line-height: 100%;
  /* need this for IE6 */
  border: none;
  cursor: default; }
/* @end */

.jp-play-bar {
  background: url("../images/image/jplayer.pink.flag2.png") 0 -280px repeat-x;
  width: 0;
  height: 100%;
  overflow: hidden;
}

.jp-volume-controls {
  padding-top: 7px;
  filter: grayScale(100%);
  position: absolute;
  -webkit-transform:translateZ(0);
  transform:translateZ(0);
  z-index:17;
  bottom: 0;
  height: 30px;
}

.jp-volume-controls a i {
  position: absolute;
  display: block;
  width: 20px;
  z-index: 18;
  height: 20px;
  border: none;
  cursor: default;
}

.jp-mute {
  top: 3px; /*-6px*/
  left: 7px;

}

.jp-volume-max {
  top: 3px; /*-6px*/
  left: 87px;
  z-index: 10;
}

.jp-volume-controls .jp-mute {
  /*background: url("../image/jplayer.pink.flag2.png") 0 -330px no-repeat; */
}

.jp-volume-controls .jp-mute:focus {
  /*background: url("../image/jplayer.pink.flag2.png") -25px -330px no-repeat;*/
}

.jp-state-muted .jp-volume-controls .jp-mute {
  /*background: url("../image/jplayer.pink.flag2.png") -60px -330px no-repeat; */
}

.jp-state-muted .jp-volume-controls .jp-mute:focus {
  /*background: url("../image/jplayer.pink.flag2.png") -85px -330px no-repeat; */
}

.jp-volume-controls .jp-volume-max {
  /*background: url("../image/jplayer.pink.flag2.png") 0px -350px no-repeat; */
  z-index: 10;
}

.jp-volume-controls .jp-volume-max:focus {
  /*background: url("../image/jplayer.pink.flag2.png") -25px -350px no-repeat; */
  z-index: 10;
}

.jp-volume-bar {
  background: url("../images/image/jplayer.pink.flag2.png") 0 -300px repeat-x;
  position: absolute;
  z-index: 10;
  height: 4px;
  overflow: hidden;
  filter: grayscale(70%);
  cursor: default;
  top: 30px; /*10px*/
  left: 5px;
  width: 97px;
  border-right: 1px solid #180920;
  padding: 2px 1px 1px 2px;
}
.jp-volume-bar:hover {
  filter:none;
}

.jp-volume-bar-value {
  background: url("../images/image/jplayer.pink.flag2.png") 0 -320px repeat-x;
  height: 4px;
  z-index: 10;
}

/* @end */

/* @group playlist */
.jp-details {
  font-size: .7em;
  position: relative;
  margin:0;
  color : #b0b4c0;
  /*0*/
  /*width:70%*/
}

.jp-details .jp-title {
  /*padding: 3px 3px 3px;*/
  border: none;
  position:absolute;
  top: 1px;
  color: var(--hover-text-color);
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6));
  left: 120px;
  margin: 0;
  line-height: 1em;
  width: 350px;
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
  /*vertical-align: middle;*/
  text-align: center;
  cursor: default; 
 }
.jp-title p {
    display: inline-block;
    padding-left: 100%;
    margin: 3px;
    animation: marquee linear infinite;
    /*animation-duration: 15s;*/
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.jp-jplayer audio,
.jp-jplayer {
  width: 0;
  height: 0; }

.jp-jplayer {
  background-color: #000000; }

/* @group NO SOLUTION error feedback */
.jp-no-solution {
  margin-top: 15px;
  padding: 5px;
  font-size: .8em;
  background-color: #293043;
  border: 2px solid #554461;
  border-right-color: inherit;
  border-bottom-color: inherit;
  color: #FFF;
  display: none; }

.jp-no-solution a {
  color: #FFF; }

.jp-no-solution span {
  font-size: 1em;
  display: block;
  text-align: center;
  font-weight: bold; }

/* @end */
